@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    This is a comment 
    on multiple lines
*@

@{ 
    string className = Model.Customers.Count > 5 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p> No on has rented the movie before.</p>
}
else
{
    <ul>

        @foreach (Vidly.Models.Customer cst in Model.Customers)
        {
            <li>@cst.Name</li>
        }

    </ul>
}

