@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Vidly.Models.Customer cst in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(cst.Name, "Edit", "Customers", new { id = cst.Id }, null)
                    </td>
                    <td>@cst.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>We don't have any customers yet.</p>
}